In [11]:
import pandas as pd #importing essential library

In [10]:
#renamed the files to make it more accessible and intuitive.
#reading csv files into pd dataframes for manipulation and data wrangling
cardholder_acc = pd.read_csv('../csvs_datathon/accy_dim.csv')
statement_data = pd.read_csv('../csvs_datathon/statement_fact.csv')
transaction_data = pd.read_csv('../csvs_datathon/transaction_fact.csv')
wrld_transaction_data = pd.read_csv('../csvs_datathon/wrld_stor_tran_fact.csv')
customer_id = pd.read_csv('../csvs_datathon/syf_id.csv')
acc_lvl_features = pd.read_csv('../csvs_datathon/rams_batch_cur.csv')
fraud_claim_case = pd.read_csv('../csvs_datathon/fraud_claim_case.csv')
fraud_claim_tran = pd.read_csv('../csvs_datathon/fraud_claim_tran.csv')

In [27]:
transaction_data

AttributeError: 'DataFrame' object has no attribute 'unique'

In [24]:
customer_id

,ds_id,account_nbr_pty,confidence_level,open_date,closed_date
0,O4khZfhXa2CcmIM9lI7ESrQRM1ypTAkH,7CvIGUYp2era9NFA,HIGH,2005-12-12,NaN
1,An8eibS3OUqawbhjkVaUWOA95FbPJnDO,8631QmQa2F5U84TQ,HIGH,2021-10-31,NaN
2,I428G9M27M8qBRi1LC2Uu6Jiq4xdw3md,KMGjSyDldINUEYTS,HIGH,2017-09-13,NaN
3,0nM2JXxAp6Kw8xtF7N0TOw9nMqXzRsh7,pCz3B3yfpXlORZcD,HIGH,2024-07-12,NaN
4,IQF02sVHSPZQWHetdS2lcLUCrXGCrvXy,FSglswDATksbQMh5,HIGH,2024-06-16,NaN
...,...,...,...,...,...
18065,U3GwS2DCnTpyEGuyiCXwu4DqbJ4NOdiv,O8H3XD3LtZVm0wtc,HIGH,2016-03-10,NaN
18066,NZSp7l8x8r87GOxLGqUBC4D5gxdMEA5U,vYlAEpj8osc2rZEQ,HIGH,2022-12-12,NaN
18067,qk956y2nSV8hHZNP0ECEa55TRK0KzAk7,X8aVrdUfx4rFQkfQ,HIGH,2018-09-02,NaN
18068,bz6OQd2zqoS2r45KRs1ZGlxV7Z3UJ3DF,Sz2VPj21QxTGu90V,HIGH,2023-10-08,NaN
18069,Xx98Wha7qdkegYGlpNoXkD3xM9giQtKQ,TnOrbHpnlIPrwO4r,HIGH,2022-01-25,NaN

In [28]:
# #part 1: Build a predictive model to forecast a customer’s spending for Q4 based on past years’ spending trends and recent last 8 months of the current year.

# #start by looking at all transactional data (transaction_data) pertaining to customers that have occured within the last 8 months. filter out the ones that aren't within the last 8 months
# #clean nan values as well
#  #time series

# #filter out inactive customers? (customer_id)

# #feature engineering -> aggragate customers with respective attributes and whatnot 

# #compare lin regression / logistic regression and grade the model