In [11]:
import pandas as pd #importing essential library

In [10]:
#renamed the files to make it more accessible and intuitive.
#reading csv files into pd dataframes for manipulation and data wrangling
cardholder_acc = pd.read_csv('../csvs_datathon/accy_dim.csv')
statement_data = pd.read_csv('../csvs_datathon/statement_fact.csv')
transaction_data = pd.read_csv('../csvs_datathon/transaction_fact.csv')
wrld_transaction_data = pd.read_csv('../csvs_datathon/wrld_stor_tran_fact.csv')
customer_id = pd.read_csv('../csvs_datathon/syf_id.csv')
acc_lvl_features = pd.read_csv('../csvs_datathon/rams_batch_cur.csv')
fraud_claim_case = pd.read_csv('../csvs_datathon/fraud_claim_case.csv')
fraud_claim_tran = pd.read_csv('../csvs_datathon/fraud_claim_tran.csv')

In [12]:
cardholder_acc

,current_account_nbr,client_id,open_date,card_activation_date,card_activation_flag,ebill_ind,date_in_collection,overlimit_type_flag,payment_hist_1_12_mths,payment_hist_13_24_mths,employee_code,external_status_reason_code,special_finance_charge_ind,pscc_ind,ext_status_reason_cd_desc,account_card_type
0,nTgalbpd5Rsol7CA,YCTHAA278DC,2020-07-17T00:00:00.000-04:00,NaN,8,E,NaN,0,ZZZZZZIAZZZZ,ZZZZIIIQIIII,NaN,0,NaN,0,NaN,DUAL CARD
1,xYaLrD9IvmbVl1PB,CCSP489PLCC,2024-07-24T00:00:00.000-04:00,2024-08-09T00:00:00.000-04:00,0,E,NaN,0,IQIIIQIA,"\\\\\\""""",NaN,0,NaN,1,NaN,DUAL CARD
2,JM78WNziiRWgmL8e,HGBHARRFT984,2024-05-05T00:00:00.000-04:00,2024-05-05T00:00:00.000-04:00,0,"\\\\\\""""",NaN,0,IIIQIQIIIIA,"\\\\\\""""",NaN,0,NaN,0,NaN,PLCC
3,bv4NLVhWTGCf8KgC,OSELW263,2024-07-28T00:00:00.000-04:00,2024-09-08T00:00:00.000-04:00,0,"\\\\\\""""",NaN,0,I1III1A,"\\\\\\""""",NaN,0,NaN,0,NaN,PLCC
4,nrXceQabYIHo31lp,HGBHARRFT984,2024-09-15T00:00:00.000-04:00,2024-09-15T00:00:00.000-04:00,0,"\\\\\\""""",NaN,0,"\\\\\\""""","\\\\\\""""",NaN,0,NaN,0,NaN,PLCC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18065,K8ixzIELRNtw1drn,YAUAPPLLDA934,2023-11-27T00:00:00.000-05:00,NaN,7,E,NaN,0,ZZZZZQQQQQQQ,QQ#A,NaN,35,NaN,0,A35 Temporary Freeze - Customer may have lost ...,DUAL CARD
18066,CRIi94oT7Dddh2zu,TJX513PLCC,2023-09-11T00:00:00.000-04:00,2023-09-11T00:00:00.000-04:00,0,"\\\\\\""""",NaN,0,ZZZZZZZZZZZZ,ZZZZIA,NaN,35,NaN,0,A35 Temporary Freeze - Customer may have lost ...,PLCC
18067,XiW0as5dJX6GJRi0,CCSP489PLCC,2023-12-03T00:00:00.000-05:00,NaN,7,E,NaN,0,ZZZIIIIIIIII,IIIA,NaN,35,NaN,1,A35 Temporary Freeze - Customer may have lost ...,DUAL CARD
18068,Xu1i4wqn776tFKU6,CMSSSNAO606,2023-07-27T00:00:00.000-04:00,2025-01-20T00:00:00.000-05:00,0,E,NaN,0,Z0ZZZZIIAIQQ,QQQIQIA,NaN,46,NaN,0,A46 Universal Fraud Team Potential Fraud,PLCC
18069,UU3UiLwIVVSikGPq,ARPPYALC768,2016-03-03T00:00:00.000-05:00,2019-07-11T00:00:00.000-04:00,0,L,NaN,0,ZZZZZZZZZZZZ,ZZZZZZZQ,NaN,0,NaN,0,NaN,PLCC

In [13]:
statement_data

,current_account_nbr,billing_cycle_date,payment_hist_1_12_mths,return_check_cnt_2yr,return_check_cnt_last_mth,return_check_cnt_py,return_check_cnt_total,return_check_cnt_ytd,prev_balance
0,PKgK5204A2hwjCfA,2019-02-01,QQQQQQQQQQQQ,0,99,0,0,0,5152.54
1,iOOwMzkHGaPVUDVL,2018-09-20,IIIAZZZZZZZZ,0,99,0,0,0,311.71
2,jXzGZNN2VER7OPYX,2023-12-27,QQQQQIIIIQQQ,0,99,0,0,0,1482.13
3,LHeW9saekessmQ64,2024-05-16,IIIIIIA,0,99,0,0,0,1039.10
4,3F9novlPuaHD8tZz,2025-01-13,IIIIIIIIIIII,0,99,0,0,0,1392.79
...,...,...,...,...,...,...,...,...,...
658223,cMksvNof47CS58Iu,2024-12-17,QZQZIAIAZZZZ,0,99,0,0,0,-20.00
658224,Ir6RhWbAI1S2LRzq,2025-01-23,IIIIIIIIIIII,1,16,0,1,0,1054.83
658225,cx3KJXpaBuxhcnip,2024-02-20,Q#QZIQQQQQAI,0,99,0,0,0,-28.24
658226,jsLmzGhWAu0ibNNG,2024-04-02,QQQQQQQQQQQQ,0,99,0,0,0,1974.72
658227,Hc0GygFmSyUwSJVe,2017-06-16,ZZZIIIIA,0,99,0,0,0,105.00

In [14]:
transaction_data

,current_account_nbr,transaction_type,transaction_code,transaction_date,transaction_amt,payment_type,transaction_return_cnt,transaction_sale_cnt,product_amt,product_qty,...,first_purchase_ind,adj_orgn_tran_dt,curr_markup_fee,fcr_amount,fcr_flag,fcr_rate_of_exchange,frgn_curr_code,frgn_tran_amt,us_equiv_amt,posting_date
0,X7jfKh6xrPAB8Tx6,SALE,253,2024-06-05,15.78,NaN,0,1,NaN,NaN,...,N,NaN,0.0,NaN,NaN,NaN,840,15.78,0.0,2024-06-06
1,yntD77AZDylS48Q4,SALE,253,2024-06-19,14.85,NaN,0,1,NaN,NaN,...,N,NaN,0.0,NaN,NaN,NaN,840,14.85,0.0,2024-06-20
2,LIJPI0sK28Pa7fX2,SALE,253,2024-06-26,136.16,NaN,0,1,NaN,NaN,...,N,NaN,0.0,NaN,NaN,NaN,840,136.16,0.0,2024-06-27
3,CMAr5Apxwdzpvoze,SALE,253,2024-08-15,8.74,NaN,0,1,NaN,NaN,...,N,NaN,0.0,NaN,NaN,NaN,840,8.74,0.0,2024-08-16
4,eJSfTCGPvJulGzd3,SALE,253,2024-08-17,26.65,NaN,0,1,NaN,NaN,...,N,NaN,0.0,NaN,NaN,NaN,840,26.65,0.0,2024-08-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493331,ktpdvlbVRuywp2Po,SALE,253,2025-03-07,3.99,NaN,0,1,NaN,NaN,...,N,NaN,0.0,NaN,NaN,NaN,840,3.99,0.0,2025-03-07
493332,xwgOt4lvAHr517sa,SALE,253,2024-07-27,6.13,NaN,0,1,NaN,NaN,...,N,NaN,0.0,NaN,NaN,NaN,840,6.13,0.0,2024-07-28
493333,zp60CmOQNComnHDT,SALE,253,2025-02-04,15.62,NaN,0,1,NaN,NaN,...,N,NaN,0.0,NaN,NaN,NaN,840,15.62,0.0,2025-02-05
493334,8M5fnshTsgW9mW8Y,PAYMENT,271,2025-02-05,100.00,NaN,0,0,NaN,NaN,...,N,NaN,0.0,NaN,NaN,NaN,"\""\""",0.00,0.0,2025-02-05
493335,qT645tAyt7uDVJtL,RETURN,255,2025-02-14,44.14,NaN,1,0,NaN,NaN,...,N,NaN,0.0,NaN,NaN,NaN,840,44.14,0.0,2025-02-16

In [15]:
wrld_transaction_data

,current_account_nbr,transaction_type,transaction_code,transaction_date,transaction_amt,payment_type,transaction_return_cnt,transaction_sale_cnt,product_amt,product_qty,...,first_purchase_ind,adj_orgn_tran_dt,curr_markup_fee,fcr_amount,fcr_flag,fcr_rate_of_exchange,frgn_curr_code,frgn_tran_amt,us_equiv_amt,posting_date
0,8DPC9336FwGf8TPz,SALE,253,2024-04-29,47.40,NaN,0,1,NaN,NaN,...,N,2024-03-17,0.0,NaN,NaN,NaN,840,47.40,0.0,2024-04-30
1,DRTiAtZURdSfMAB0,SALE,253,2024-06-25,87.13,NaN,0,1,NaN,NaN,...,N,NaN,0.0,NaN,NaN,NaN,840,87.13,0.0,2024-06-27
2,4y1CqjRDtP3w8Nb5,SALE,253,2024-08-06,30.00,NaN,0,1,NaN,NaN,...,N,NaN,0.0,NaN,NaN,NaN,840,30.00,0.0,2024-08-07
3,3dPDITyRPlzdq3wf,SALE,253,2024-09-05,32.30,NaN,0,1,NaN,NaN,...,N,NaN,0.0,NaN,NaN,NaN,840,32.30,0.0,2024-09-05
4,q1mnsZTeAaQH71AF,SALE,253,2024-12-30,4.40,NaN,0,1,NaN,NaN,...,N,NaN,0.0,NaN,NaN,NaN,840,4.40,0.0,2024-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053849,uqlll7MEoZkj3vur,SALE,253,2024-11-12,9.57,NaN,0,1,NaN,NaN,...,N,NaN,0.0,NaN,NaN,NaN,840,9.57,0.0,2024-11-13
1053850,ZGjYc8aETjtytUYR,SALE,253,2025-03-10,16.11,NaN,0,1,NaN,NaN,...,N,NaN,0.0,NaN,NaN,NaN,840,16.11,0.0,2025-03-11
1053851,4JpGONAzyfmoxi7A,SALE,253,2025-03-20,20.37,NaN,0,1,NaN,NaN,...,N,2025-02-26,0.0,NaN,NaN,NaN,840,20.37,0.0,2025-03-21
1053852,tUUUlJJZ2ETedT7g,SALE,253,2024-11-21,180.00,NaN,0,1,NaN,NaN,...,N,2024-11-12,0.0,NaN,NaN,NaN,840,180.00,0.0,2024-11-22
1053853,u7AfBCIabLPkr5y7,SALE,253,2024-12-08,2.50,NaN,0,1,NaN,NaN,...,N,2024-11-06,0.0,NaN,NaN,NaN,840,2.50,0.0,2024-12-09

In [16]:
customer_id

,ds_id,account_nbr_pty,confidence_level,open_date,closed_date
0,O4khZfhXa2CcmIM9lI7ESrQRM1ypTAkH,7CvIGUYp2era9NFA,HIGH,2005-12-12,NaN
1,An8eibS3OUqawbhjkVaUWOA95FbPJnDO,8631QmQa2F5U84TQ,HIGH,2021-10-31,NaN
2,I428G9M27M8qBRi1LC2Uu6Jiq4xdw3md,KMGjSyDldINUEYTS,HIGH,2017-09-13,NaN
3,0nM2JXxAp6Kw8xtF7N0TOw9nMqXzRsh7,pCz3B3yfpXlORZcD,HIGH,2024-07-12,NaN
4,IQF02sVHSPZQWHetdS2lcLUCrXGCrvXy,FSglswDATksbQMh5,HIGH,2024-06-16,NaN
...,...,...,...,...,...
18065,U3GwS2DCnTpyEGuyiCXwu4DqbJ4NOdiv,O8H3XD3LtZVm0wtc,HIGH,2016-03-10,NaN
18066,NZSp7l8x8r87GOxLGqUBC4D5gxdMEA5U,vYlAEpj8osc2rZEQ,HIGH,2022-12-12,NaN
18067,qk956y2nSV8hHZNP0ECEa55TRK0KzAk7,X8aVrdUfx4rFQkfQ,HIGH,2018-09-02,NaN
18068,bz6OQd2zqoS2r45KRs1ZGlxV7Z3UJ3DF,Sz2VPj21QxTGu90V,HIGH,2023-10-08,NaN
18069,Xx98Wha7qdkegYGlpNoXkD3xM9giQtKQ,TnOrbHpnlIPrwO4r,HIGH,2022-01-25,NaN

In [17]:
acc_lvl_features

,cu_bhv_scr,ca_cash_bal_pct_crd_line,ca_cash_bal_pct_cash_line,cu_nbr_days_dlq,cu_nbr_of_plastics,ca_avg_utilz_lst_6_mnths,cu_cash_line_am,cu_crd_bureau_scr,cu_crd_line,cu_next_crd_line_rev_date,...,rb_new_bhv_scr,rb_crd_gr_new_crd_gr,cu_processing_date,mo_tot_sales_array_1,mo_tot_sales_array_2,mo_tot_sales_array_3,mo_tot_sales_array_4,mo_tot_sales_array_5,mo_tot_sales_array_6,ca_avg_utilz_lst_3_mnths
0,779,0,0,0,2,2,5000,782,25000,0,...,776,R,2024-12-17,997.56,521.07,647.86,1045.03,858.49,334.54,2
1,735,0,999,0,1,2,0,836,1500,0,...,735,R,2025-02-21,0.00,37.65,60.25,175.67,54.08,0.00,0
2,745,0,0,0,1,2,8000,832,40000,0,...,748,R,2024-10-10,1024.55,578.80,665.81,816.43,2526.27,3129.23,1
3,13,0,0,0,1,0,60,684,300,0,...,13,O,2025-01-27,0.00,0.00,0.00,0.00,0.00,0.00,0
4,6,0,999,0,1,7,0,681,5200,0,...,6,P,2025-03-19,895.33,0.00,0.00,0.00,0.00,0.00,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96794,6,0,0,30,1,15,90,711,900,0,...,628,K,2024-11-14,0.00,185.10,0.00,0.00,0.00,0.00,15
96795,709,0,0,0,1,8,999999999999999,833,6700,0,...,703,R,2025-02-27,0.00,0.00,0.00,0.00,0.00,0.00,7
96796,755,0,0,0,1,5,3320,759,16600,0,...,761,R,2025-01-24,1037.83,899.65,1111.87,954.31,865.07,912.63,5
96797,748,0,0,0,1,0,800,788,4000,0,...,748,R,2025-02-20,0.00,0.00,0.00,0.00,43.52,0.00,0
96798,752,0,0,0,2,0,510,826,2550,0,...,13,R,2025-03-21,0.00,0.00,0.00,0.00,0.00,0.00,0

In [18]:
fraud_claim_case

,current_account_nbr,case_id,reported_date,open_date,close_date,reopen_date,gross_fraud_amt,net_fraud_amt
0,ZB0SJEUntc0XyQuU,3202508301370,2025-03-23,2025-03-24,NaN,NaN,1789.82,1789.82
1,7zdxYCqGYTCFEKUb,4202235600151,2022-11-30,2022-12-22,2023-01-19,2023-01-10,71.87,0.00
2,VT29T3VPWCZ8KEkI,3202306200632,2023-03-02,2023-03-03,2023-04-14,2023-04-13,184.21,0.00
3,FqHTEAbjd4z65FWv,3202305801521,2023-02-26,2023-02-27,2023-04-09,2023-04-07,672.60,0.00
4,BG4qfLXo8chh5tIY,1202507200260,2025-03-11,2025-03-13,NaN,NaN,79.48,79.48
...,...,...,...,...,...,...,...,...
72,3Hj6EuxP2uay1tZR,3202315301546,2023-06-01,2023-06-02,2023-06-13,NaN,239.88,0.00
73,P586ALgLRL6ldsIW,1202208000284,2022-03-18,2022-03-21,2022-06-27,2022-06-24,142.36,0.00
74,apaOOlllTbXSAlVZ,1202507800267,2025-03-17,2025-03-19,2025-03-20,NaN,70.43,0.00
75,te0g3zNNAJ1cas4X,4202300200579,2023-01-01,2023-01-02,2023-01-19,NaN,25.00,0.00
76,pk8zhE2r1i7zjsNA,4202508401061,2025-03-24,2025-03-25,NaN,NaN,0.00,0.00

In [19]:
fraud_claim_tran

    current_account_nbr        case_id       transaction_dt  transaction_am
0      KQQdmrooVFs1Devc  3202508301390  2025-03-12 20:00:00            5.29
1      pSsrDqdWzfcfycPY  1202507700327  2025-01-31 19:00:00           10.53
2      n0PWMwNz6NKKESCn  3202508301490  2025-03-20 20:00:00          956.00
3      6pNTzbxXjNt2Vmzt  3202508301556  2025-03-04 19:00:00         2298.00
4      BZvkXIEsrZBFI7E6  3202508301411  2025-03-11 20:00:00          201.43
..                  ...            ...                  ...             ...
197    PaEqdbfhMbcWAbb2  3202503400513  2025-01-13 19:00:00           12.99
198    UycnUTDspyEcj0No  4202417301196  2024-05-26 20:00:00           19.51
199    ZB0SJEUntc0XyQuU  3202508301370  2025-03-11 20:00:00          277.02
200    KQQdmrooVFs1Devc  3202508301390  2025-03-12 20:00:00           18.29
201    nOfgWFfHnxJ7AhBK  4202431901233  2024-11-11 19:00:00          179.93

[202 rows x 4 columns]